google_api_python_client==2.196.0
google_auth_oauthlib==1.4.0
Markdown==3.10.3
pdfplumber==0.11.9
playwright==1.59.0
playwright_stealth==2.0.3
protobuf==7.35.1
reportlab==5.0.0
streamlit==1.57.0
playwright
playwright-stealth
